.bookshelf-inline-form {
  display: flex;
  align-items: center;

  & > div:not(:last-child) {
    margin-right: 6px;
  }
}

.title-input {
  height: 26px;
}

.selected-color {
  width: 100%;
  height: 20px;
}

.color-picker {
  & :global(.ember-power-select-trigger) {
    min-height: 26px;
    height: 26px;
    width: 40px;
    padding: 0;
    overflow: hidden;
  }

  & :global(.ember-power-select-status-icon) {
    display: none;
  }

  & :global(.ember-power-select-option) {
    overflow: hidden;
    padding: 0;
  }
}
