<div class="ui mini input" local-class="title-input">
  {{one-way-input bookshelf.title update=(action (mut bookshelf.title))}}
</div>

<div local-class="color-picker">
  {{#power-select
      selected=bookshelf.color
      options=colors
      searchEnabled=false
      renderInPlace=true
      selectedItemComponent="bookshelf-color"
      onchange=(action (mut bookshelf.color))
  as |color|}}
    {{bookshelf-color local-class="selected-color" option=color defaultStyle=false}}
  {{/power-select}}
</div>

<i class="icon checkmark link color-teal-hover" onclick={{action onApprove}}></i>

<i class="icon remove link color-red-hover" onclick={{action onDeny}}></i>