{{#ember-wormhole to="masthead"}}

  <div class="clearing" local-class="books-masthead">
    {{#link-to "books.new" tagName="button" class="ui icon button primary labeled icon"}}
      <i class="plus icon"></i>
      Add new book
    {{/link-to}}

    <div local-class="search">
      <div class="ui input">
        {{one-way-search search update=(action (mut search)) placeholder="Search by title..."}}
      </div>
    </div>
  </div>

{{/ember-wormhole}}

<div local-class="books-list">
  {{#each books as |book|}}
    {{book-card book=book}}
  {{/each}}
</div>