{{#ember-wormhole to="header"}}

  <div class="ui input">
    {{one-way-search search update=(action (mut search)) placeholder="Search by title..."}}
  </div>

{{/ember-wormhole}}

<div local-class="books-list">
  {{#each model as |book|}}
    {{#link-to 'books.book' book.id tagName="div" local-class="book-link"}}
      {{book-card
          book=book
      }}
    {{/link-to}}
  {{/each}}
</div>