{{#book-form
    book=newBook
    author=author
    uploadBookCover=uploadBookCover
}}
  <button class="ui button primary" onclick={{perform createUser newBook author}}>Add book</button>
{{/book-form}}