{{#book-form
    book=book
    author=author
    createUser=(perform createUser)
    uploadBookCover=(action uploadBookCover)
}}
  <button class="ui button primary" tabindex="0" onclick={{perform createUser book author}}>Add book</button>
{{/book-form}}