{{#book-form
    book=newBook
    authors=authors
    uploadBookCover=uploadBookCover
    addNewAuthor=addNewAuthor
    addNewBookshelf=addNewBookshelf
}}
  <button class="ui button primary {{if createUser.isRunning 'loading'}}"
    onclick={{perform createUser newBook}}>
    Add book
  </button>
{{/book-form}}