<div class="bc-container">
  {{#book-form
      book=newBook
      authors=authors
      bookshelves=bookshelves
      uploadBookCover=uploadBookCover
      uploadBookFile=uploadBookFile
      addNewAuthor=addNewAuthor
      addNewBookshelf=addNewBookshelf
  }}
    <button class="ui button basic primary fluid {{if createUser.isRunning 'loading'}}"
      onclick={{perform createUser newBook}}>
      Create New Book
    </button>
  {{/book-form}}
</div>