{{#book-form
    book=newBook
    authors=authors
    uploadBookCover=uploadBookCover
    addNewAuthor=addNewAuthor
}}
  <button class="ui button primary" onclick={{perform createUser newBook author}}>Add book</button>
{{/book-form}}