<div class="bc-container">
  {{#book-form
      book=newBook
      authors=authors
      bookshelves=bookshelves
      tasks=(hash
        uploadBookCover=books.uploadBookCover
        uploadBookFile=books.uploadBookFile
        addNewAuthor=books.addNewAuthor
        addNewBookshelf=books.addNewBookshelf
      )
  }}
    <button class="ui button basic primary fluid {{if books.createBook.isRunning 'loading'}}"
      onclick={{perform books.createBook newBook}}>
      Create New Book
    </button>
  {{/book-form}}
</div>