<div class="bc-container">
  {{#book-form
      book=newBook
      authors=authors
      bookshelves=bookshelves
      bookCoverUploadProgress=books.bookCoverUploadProgress
      bookFileUploadProgress=books.bookFileUploadProgress
      addNewAuthor=(action books.addNewAuthor)
      addNewBookshelf=(action books.addNewBookshelf)
      tasks=(hash
        uploadBookCover=books.uploadBookCover
        uploadBookFile=books.uploadBookFile
      )
  }}
    <button class="ui button basic primary fluid {{if books.createBook.isRunning 'loading'}}"
      onclick={{perform books.createBook newBook}}>
      Create New Book
    </button>
  {{/book-form}}
</div>