{{#book-form
    book=book
    author=author
    uploadBookCover=uploadBookCover
}}
  <button class="ui button primary" tabindex="0" onclick={{perform createUser book author}}>Add book</button>
{{/book-form}}