{{#book-form
    book=book
    author=author
    createUser=(perform createUser)
    uploadBookCover=(action uploadBookCover)
}}
  <div class="ui button" tabindex="0" onclick={{perform createUser book author}}>Add book</div>
{{/book-form}}