{{#ember-wormhole to="masthead"}}

  <div local-class="authors-masthead">

  </div>

{{/ember-wormhole}}

<div local-class="authors-list">
  {{#each model as |author|}}
    {{#link-to 'authors.author' author.slug local-class="author-link"}}
      {{author.firstName}}
    {{/link-to}}
  {{/each}}
</div>