<div class="ui centered link cards">
  {{#each model as |book|}}
    {{#link-to 'book' book.id tag="div" class="card"}}
      <div class="ui image">
        <img src={{book.imageUrl}}>
      </div>
      <div class="content">
        <div class="header">{{book.title}}</div>
        <div class="description">
          by {{book.author.name}}
        </div>
      </div>
      <div class="extra content">
        <a class="ui tag label">Novel</a>
      </div>
    {{/link-to}}
  {{/each}}
</div>