.author-view {
  display: grid;
  grid-column-gap: 54px;
  grid-row-gap: 12px;
  grid-template-columns: 480px 300px;
  grid-template-rows: 300px auto;
}

.biography {
  white-space: pre-line;
}

.info {
  grid-row: 1 / 3;
}

.author-books {
  grid-column: 1 / 3;
  grid-row: 3;
}
