.book-content {
  width: 100%;
  margin-top: 0.3em;
}

.book-title {
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  color: #A0A0A0;
  font-size: 0.9em;
}
