.book-card {
  position: relative;
  height: 240px;
  border-radius: 3px;
  border-bottom-left-radius: 6px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  // border-radius: 3px;
  // border-bottom-left-radius: 6px;
  background-size: cover;
  background-color: #000;
}

// .fake-cover {
//   content: '';
//   position: absolute;
//   top: 6px;
//   left: 3px;
//   width: calc(100% + 2px);
//   height: 100%;
//   border: 1px solid #000;
//   background-color: #000;
//   border-radius: 2px;
//   z-index: 1;
//   border-bottom-left-radius: 8px;
// }

// .pages {
//   content: '';
//   position: absolute;
//   top: 3px;
//   left: 5px;
//   width: calc(100% - 2px);
//   height: 100%;
//   border: 1px solid gray;
//   background-color: #fff;
//   border-radius: 2px;
//   z-index: 2;
//   border-bottom-left-radius: 6px;
// }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 6px;
}
