{{#link-to 'books.book' book.slug}}
  {{book-cover
      coverUrl=book.coverUrl
  }}
{{/link-to}}

{{#unless isBlank}}
  <div local-class="book-content">
    <div local-class="book-title">
      {{#link-to 'books.book' book.slug}}
        {{book.title}}
      {{/link-to}}
    </div>
    <div local-class="book-author">
      {{#link-to 'authors.author' book.author.slug}}
        {{book.author.fullInitials}}
      {{/link-to}}
    </div>
  </div>
{{/unless}}
