{{#link-to 'books.book' book.slug local-class="book-link"}}
  {{book-cover
      coverUrl=book.coverUrl
  }}
{{/link-to}}

{{#unless isBlank}}
  <div local-class="book-content">
    <div local-class="book-title">
      {{book.title}}
    </div>
    <div local-class="book-author">{{book.author.fullInitials}}</div>
  </div>
{{/unless}}
