:global(img) {
  max-width: 100%;
}

:global(.bc-container) {
  max-width: 1640px;
  margin: 0 3em;
}

@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
:global(.ember-power-select-trigger) {
  min-height: 36px;
  line-height: 2.4;
  cursor: pointer;
}

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
:global(.ember-modal-overlay) {
  z-index: 102;
}

:global(.ember-modal-overlay.translucent) {
  background-color: rgba(0, 0, 0, 0.85);
}
