body>.ember-view,
body>.ember-view>.ember-view {
  height: 100%;
}

.main {
  padding: 2em 0;
}

.book-cover {
  width: 100%;
  height: 280px;
  border-radius: 1px;
  background-size: cover;
}

.books-list {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 280px;
  justify-content: center;
}

.book-card {
  position: relative;

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 2px;
    padding: 1em;
    z-index: 3;
    border-bottom-left-radius: 6px;
    background-color: #000;
  }
  &__pages {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: calc(100% - 2px);
    height: 100%;
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 2px;
    z-index: 2;
    border-bottom-left-radius: 6px;
  }
  &__cover {
    content: '';
    position: absolute;
    top: 6px;
    left: 3px;
    width: calc(100% + 2px);
    height: 100%;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 2px;
    z-index: 1;
    border-bottom-left-radius: 8px;
  }
  &__content {
    position: relative;
  }
  &__title {
    color: #fff;
  }
  &__author {
    font-size: 1em;
    font-weight: 400;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 6px;
  }
}
