:global(body>.ember-view) {
  height: 100%;
}

:global(img) {
  max-width: 100%;
}

:global(.bc-container) {
  max-width: 1640px;
  margin: 0 3em;
}

@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";

:global(.ember-power-select-trigger) {
  min-height: 36px;
  line-height: 2.4;
  cursor: pointer;
}
