{{#author-form
    author=author
    authorPortraitUploadProgress=authors.authorPortraitUploadProgress
    tasks=(hash
      uploadAuthorPortrait=authors.uploadAuthorPortrait
    )
}}
  <button class="ui button basic primary {{if authors.updateAuthor.isRunning 'loading'}}"
    onclick={{perform authors.updateAuthor author}}>
      Update
  </button>

  <button class="ui button basic negative {{if authors.updateAuthor.isRunning 'disabled'}}"
    onclick={{action cancelEditing author}}>
      Cancel
  </button>
{{/author-form}}