.book-cover {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 1%;
    z-index: 1;
    height: 100%;
    width: 2%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  img {
    display: block;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
