.cover {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1em 1em;
  background-color: #dadada;
  background-position: center;
  background-size: 100% 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2%;
    z-index: 2;
    height: 100%;
    width: 2%;
    background-color: rgba(0,0,0,0.2);
  }
}

.label {
  z-index: 3 !important;
}
