<div local-class="cover" style={{coverBg}}>
  {{!-- {{#ui-popup content="Currently reading"}}
    <div class="ui left corner green label" local-class="label">
      <i class="flag outline icon"></i>
    </div>
  {{/ui-popup}} --}}
</div>