<div class="bc-container">
  {{#author-form
      author=newAuthor
      uploadAuthorPortrait=uploadAuthorPortrait
  }}
    <button class="ui button basic primary fluid {{if authors.createAuthor.isRunning 'loading'}}"
      onclick={{perform authors.createAuthor newAuthor}}>
        Create author
    </button>
  {{/author-form}}
</div>