{{#author-form
    author=newAuthor
    uploadAuthorPortrait=uploadAuthorPortrait
}}
   <button class="ui button primary" onclick={{perform createAuthor newAuthor}}>Add author</button>
{{/author-form}}