.main {
  padding: 2em 0;
}

.layout {
  display: grid;
  grid-template-columns: 252px auto;
}

.page {
  grid-column: 2
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.breadcrumbs {
  margin-bottom: 2em;
}
