.main {
  padding: 2em 0;
}

.layout {
  display: grid;
  grid-template-columns: 210px auto;
}

.sidebar {
  height: 100%;
}

.stretch {
  width: 210px;
  height: 100%;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.breadcrumbs {
  margin-bottom: 2em;
}

.user-item {
  display: flex;
  justify-content: space-between;
}
