.main {
  padding: 2em 0;
}

.layout {
  display: grid;
  grid-template-columns: 210px auto;
}

.sidebar {
  height: 100%;
}

.stretch {
  width: 210px;
  height: 100%;
}

.masthead-wrapper {
  border-bottom: 1px solid #ddd;
}

.breadcrumbs {
  margin: 1em 0;
}

.user-item {
  display: flex;
  justify-content: space-between;
}
