<div class="ui inverted left vertical menu fixed" local-class="sidebar">
  {{#link-to "index" class="item"}}
    <h1>Bookshelf</h1>
  {{/link-to}}
  {{#link-to "books" class="item"}}
    <i class="book icon"></i>
    Books
  {{/link-to}}
</div>

<div local-class="header">
  <div local-class="main" id="header"></div>
</div>

<div local-class="main">
  {{outlet}}
</div>