<h1>Create new book</h1>
<div class="ui grid">
  <div class="six wide column">
    <form class="ui form">
      <div class="field">
        <label>Title</label>
        {{input value=book.title placeholder="Enter Email"}}
      </div>
      <div class="field">
        <label>Description</label>
        {{textarea value=book.description placeholder="Enter Email" rows="2"}}
      </div>
    </form>
  </div>
</div>