{{#book-form
    book=book
    authors=authors
    bookshelves=bookshelves
    addNewAuthor=books.addNewAuthor
    addNewBookshelf=books.addNewBookshelf
    bookCoverUploadProgress=books.bookCoverUploadProgress
    bookFileUploadProgress=books.bookFileUploadProgress
    tasks=(hash
      uploadBookCover=books.uploadBookCover
      uploadBookFile=books.uploadBookFile
    )
}}

<button class="ui button basic primary {{if books.updateBook.isRunning 'loading'}}"
  onclick={{perform books.updateBook book}}>
  Update
</button>

<button class="ui button basic negative {{if books.updateBook.isRunning 'disabled'}}"
  onclick={{action cancelEditing book}}>
  Cancel
</button>

{{/book-form}}
