{{#link-to "index" class="item"}}
  <h1>BookCase</h1>
{{/link-to}}

<div class="item">
  {{current-user user=user}}
</div>

{{#link-to "books"}}
  {{menu-item
      title="All Books"
      icon="book"
      onIconClick=(action redirectToNewBook)
  }}
{{/link-to}}

{{#link-to "authors"}}
  {{menu-item
      title="Authors"
      icon="student"
      onIconClick=(action redirectToNewAuthor)
  }}
{{/link-to}}

{{#if bookshelves}}
  <div class="item">
    <div class="header">Bookshelves</div>
    <div class="menu">
      {{#each bookshelves as |bookshelf|}}
        {{#link-to "bookshelf" bookshelf.id class="item"}}
          <i class="circle icon" style="color: tomato"></i>
          {{bookshelf.title}}
        {{/link-to}}
      {{/each}}
    </div>
  </div>
{{/if}}